<div class="row  container">
    <div class="AllItems" style="min-height:500px ; background-color:teal ; border-radius:20px ; margin-top:40px">
        @foreach (var item in ViewBag.items)
        {
            <div class="col-md-2 thumbnail ItemDivs" style="width:100px;height:100px ;margin-left:25px; margin-bottom:30px;">
                <img src="~/Uploads/Categories/@item.ImgUrl" style="height: 90px; width:90px; border-radius: 130px;" />
                <div style="color:black ; font-size:small">
                    <span>@item.Name</span>
                    <span>@item.Price</span>
                </div>
                <a class="btn btn-primary requstBotton" id="btnadd+@item.Id" onclick="AddToBillConfirm(@item.Id)">
                    <i class="glyphicon glyphicon-shopping-cart" style="font-size:12px"></i>
                    <span style="font-size:10px">إضافة للسلة</span>
                </a>

                <div class="counter" id="counter+@item.Id" hidden>
                    <div class="col-md-7">
                        <input id="txtCounter" type="text" readonly />
                        <input type="hidden" />
                    </div>
                    <div class="col-md-1">
                        <i class="fa-solid fa-angle-up"></i>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="col-md-2">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                    <div class="col-md-2">
                        <i class="fa-solid fa-plus-large"></i>
                    </div>
                </div>
            </div>

        }
    </div>
</div>



<script>

    var AddConfirm = function (_id) {
        var st = "btnadd+"
        var rt = "counter+"
        document.getElementById(st + _id).style.display = 'none'
        document.getElementById(rt + _id).style.display = 'block'
        docment.getElementById('txtCounter').val("1")
    };

    var AddToBillConfirm = function (_id) {
        $.ajax({
            type: "Post",
            url: "/Home/AddToBill",
            data: { id: _id },
            success: function (result) {
                var btnAddtoBill = document.getElementById(_id)
                btnAddtoBill.textContent = "تمت الأضافة"
                btnAddtoBill.className = "addBotton"
                return false;
            }
        });
    };

</script>