@model IEnumerable<CloudRestaurant.Models.Item>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:teal; height:600px">
    <h2 class="header" style="text-align: center; color: white; font-weight: bold; text-decoration: underline black; padding: 10px;">الفاتورة</h2>
    <div class="TableDiv" style=" width: 500px; margin: auto; border: 2px solid burlywood; background: teal; height: auto; text-align: center; text-decoration: underline;">
        <table class="table table-striped" id="mytable">
            <tr class="btn-primary">

                <th style="color:black">
                    أسم العنصر
                </th>
                <th style="color:black">
                    السعر
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }
        </table>
    </div>
</div>