<h1>قم بأختيار المنطقة لتصفح المطاعم</h1>
<div class="regionsSelect">
    @foreach (var region in ViewBag.regions)
    {
        <a href="@Url.Action("GetRestaurants", "Home", new {id=region.Id})">
            <div class="col-md-2 thumbnail regionContiner">
                <h6 class="regionName">@region.Name</h6>
                <div class="regionDetails">
                    <p>الدولة :@region.Country.Name</p>
                    <p>عدد المطاعم :@region.Restaurants.Count</p>
                </div>
            </div>
        </a>
    }
</div>
