@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
<div dir="rtl">
    <h2> المجموعات</h2>
    <p>
        @Html.ActionLink("إنشاء مجموعة", "Create", "Roles", new { @class = "btn btn-primary" })
    </p>
</div>
<table class="table" id="itemTable" dir="rtl">
    <tr class="btn-primary">
        <th>
            اسم المجموعة
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="~/Roles/Edit/@item.Id" style="font-size:20px"><i class="fa-solid fa-pen-to-square Action-Icon" style="color: #005eff;"></i></a> |
            <a href="~/Roles/Delete/@item.Id" style="font-size:20px"><i class="fa-solid fa-trash-can Action-Icon" style="color: #ff2600;"></i></a>
        </td>
    </tr>
}

</table>
