@using Microsoft.AspNet.Identity
<div class="modal left fade" id="Modal-Manage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog ManageModal" role="document">
        <div class="modal-content ManageModalContent">

            <div class="ManageModalHeader">
                <div class="row">
                    <div class="col-lg-9">
                        <span class="glyphicon glyphicon-user img-size modal-icon"></span>
                        <span class="title">@User.Identity.GetUserName()</span>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            

            <div class="modal-body ManageModalBody" style="padding:0">
                <ul class="ulMange">
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="btn btn-info" href="/Countries/CountryIndex">الدول</a></li>
                        <li><a class="btn btn-info" href="/Regions/RegionIndex">المناطق والمدن</a></li>
                        <li><a class="btn btn-info" href="/Restaurants/RestaurantIndex">المطاعم</a></li>
                        <li><a class="btn btn-info" href="/Categories/CategoryIndex">الأصناف</a></li>
                        <li><a class="btn btn-info" href="/Items/ItemIndex">العناصر</a></li>
                        <li><a class="btn btn-info" href="/Roles/RoleIndex">الطلبات</a></li>
                        <li><a class="btn btn-info" href="#">تعديل الحساب</a></li>
                        <li><a class="btn btn-info" href="/#">العروض والخصومات</a></li>
                        <li><a class="btn btn-info" href="#">أنواع الأكلات</a></li>
                        <li><a class="btn btn-info" href="#">الأشتراكات</a></li>
                        <li><a class="btn btn-info" href="#">الميزات</a></li>
                        <li><a class="btn btn-info" href="/Roles/Index">التقارير</a></li>
                        <li><a class="btn btn-info" href="/Roles/RoleIndex">إدارة المجموعات</a></li>
                    }
                    @if (User.IsInRole("RestaurantOwner"))
                    {
                        <li><a class="btn btn-info" href="/Items/ItemIndex">العناصر</a></li>
                        <li><a class="btn btn-info" href="~/Home/RestaurantWonerRequests">الطلبات</a></li>
                        <li><a class="btn btn-info" href="#">تعديل الحساب</a></li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>