<div>
    <h2>الأعلانات</h2>
</div>
<div>
    <p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Modal-AdvCreate">أضافة أعلان</a>
    </p>
</div>
<table class="table">
    <tr class="btn-primary">

        <th>
            الصورة
        </th>
        <th>
            الوصف
        </th>
        <th>
            المطعم
        </th>
        <th>
            الأجراء
        </th>
    </tr>

    @foreach (var item in ViewBag.Advertisements)
    {
        <tr>
            <td>
                <img src="~/Uploads/Advertisements/@item.ImgUrl" class="img-thumbnail" style="width:48px;height:48px" />
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Restaurant.Name
            </td>
            <td>
                <a style="font-size:20px" onclick="EditAdvConfirm(@item.Id)"><i class="fa-solid fa-pen-to-square Action-Icon" style="color: #005eff;"></i></a> |
                <a style="font-size:20px" onclick="DeleteAdvConfirm(@item.Id)"><i class="fa-solid fa-trash-can Action-Icon" style="color: #ff2600;"></i></a>
                <input type="hidden" id="AdvId" />
            </td>
        </tr>
    }

</table>

