<div class="ItemsDisplay">
    <div class="container">

        @foreach (var item in ViewBag.items)
        {
            <div class="col-md-2 thumbnail ItemDivs">
                <div class="item-image">
                    <img src="~/Uploads/Items/@item.ImgUrl" />
                </div>
                <div class="item-info">
                    <h6>@item.Name</h6>
                    <h6>@Convert.ToInt32(item.Price)</h6>
                </div>
                <div class="item-action">
                    <button class="btn btn-primary requstBotton" id="btnadd+@item.Id" onclick="AddToBillConfirm(@item.Id)">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span>إضافة للسلة</span>
                    </button>
                </div>
            </div>
        }

    </div>
</div>




<script>
/*
    var AddConfirm = function (_id) {
        document.getElementById("btnadd+" + _id).style.display = 'none'
        document.getElementById("counter+" + _id).style.display = 'block'
        document.getElementById("txtDisplayNumber+" + _id).value = 1;
    };*/

    var AddToBillConfirm = function (_id) {
        /*document.getElementById("btnadd+" + _id).style.display = 'block'
        document.getElementById("counter+" + _id).style.display = 'none'*/
        $.ajax({
            type: "Post",
            url: "/Home/AddToBill",
            data: { id: _id },
            success: function (result) {
                if (result == true) {
                    var btnAddtoBill = document.getElementById("btnadd+" + _id)
                    btnAddtoBill.textContent = "إضافة مرة اخرى"
                    btnAddtoBill.className = "btn btn-primary addBotton"
                } else
                {
                    TestSweetAlert("قم بتسجيل الدخول أولاً");
                }
                
                return false;
            }
        });
    };

    var increase = function (_id) {
        document.getElementById("txtDisplayNumber+" + _id).value++;
    };

    var decrease = function (_id) {
        if ($("#txtDisplayNumber+" + _id).val()!="1")
        document.getElementById("txtDisplayNumber+"+ _id).value -= 1;
    };

</script>