<div class="ItemsDisplay">
    <div class="container itemDisplayDiv" style="min-height:500px;">

        @foreach (var item in ViewBag.items)
        {
            <div class="col-md-2 thumbnail ItemDivs">
                <img src="~/Uploads/Items/@item.ImgUrl"/>
                <h6>@item.Name</h6>
                <h6>@Convert.ToInt32(item.Price)</h6>
                <button class="btn btn-primary requstBotton" id="btnadd+@item.Id" onclick="AddToBillConfirm(@item.Id)">
                    <i class="glyphicon glyphicon-shopping-cart" style="font-size:10px"></i>
                    إضافة للسلة
                </button>

                <!--<div class="row counter" id="counter+item.Id" hidden>
                <div class="col-md-7" style="padding:0px">
                    <input id="txtDisplayNumber+item.Id" type="text" readonly  style="text-align:center;color:black"/>
                </div>
                <div class="col-md-2" style="padding:0px">
                    <i class="fa-solid fa-angle-up btn ArrowSign" onclick="increase(item.Id)"></i>
                    <i class="fa-solid fa-angle-down btn ArrowSign" onclick="decrease(item.Id)"></i>
                </div>
                <div class="col-md-3 " style="padding:0px">
                    <i class="fa-sharp fa-solid fa-plus btn plusSign" onclick="AddToBillConfirm(item.Id)"></i>
                </div>
            </div>-->
            </div>

        }
    </div>
</div>




<script>
/*
    var AddConfirm = function (_id) {
        document.getElementById("btnadd+" + _id).style.display = 'none'
        document.getElementById("counter+" + _id).style.display = 'block'
        document.getElementById("txtDisplayNumber+" + _id).value = 1;
    };*/

    var AddToBillConfirm = function (_id) {
        /*document.getElementById("btnadd+" + _id).style.display = 'block'
        document.getElementById("counter+" + _id).style.display = 'none'*/
        $.ajax({
            type: "Post",
            url: "/Home/AddToBill",
            data: { id: _id },
            success: function (result) {
                if (result == true) {
                    var btnAddtoBill = document.getElementById("btnadd+" + _id)
                    btnAddtoBill.textContent = "إضافة مرة اخرى"
                    btnAddtoBill.className = "btn btn-primary addBotton"
                } else
                {
                    TestSweetAlert("قم بتسجيل الدخول أولاً");
                }
                
                return false;
            }
        });
    };

    var increase = function (_id) {
        document.getElementById("txtDisplayNumber+" + _id).value++;
    };

    var decrease = function (_id) {
        if ($("#txtDisplayNumber+" + _id).val()!="1")
        document.getElementById("txtDisplayNumber+"+ _id).value -= 1;
    };

</script>