
/*#region Global-properties*/

body {
    font-family: myfont2;
    background-color: #fff;
}

.Action-Icon {
    font-size: 20px;
}

.Action-Icon:hover {
    color: darkred;
    cursor: pointer;
}

.mainContiner{
    min-height: 550px;
    bottom: 30px;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.table th {
    text-align: center
}

    /*for Modal Animation */
.modalCenter {
    top: 50% !important;                     
    transform: translateY(-50%) !important;
}

/*#endregion Global-properties*/

/*#region Navbar*/

.logoSize {
    font-size: 20px;
    background: transparent;
}

.logoSize:hover {
    background: #e7e7e7;
}

@media (max-width:767px) {
    .logoSize {
        margin-top: -10px;
    }
}

.navbar-default {
    background: var(--background-color);
    border-bottom-width: thin;
    border: 0px;
    position: relative;
    margin-bottom: 0;
}

.nav > li > a{
    text-align:right
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        display: flex;
        margin-right: 20px;
        flex-direction: row-reverse;
    }

    .nav > li {
        position: relative;
        display: block;
        height: 70px;
        padding-top: 10px;
        font-weight: bold;
    }

    .Basket {
        display: block;
        position: absolute;
        font-size: 23px;
        color: #e7e7e7;
        margin-top: -60px;
        padding: 10px;
        transform: translateX(8px);
    }
}

@media (max-width: 768px){
    .navbar-right,.navbar-left {
        margin: 0px;
    }
    .nav > li {
        position: relative;
        display: block;
        height: 50px;
        padding-top: 10px;
        font-weight: bold;
    }
    .Basket {
        top: 15px;
        left: 215px;
        display: block;
        position: absolute;
        font-size: 20px;
        color: #e7e7e7;
        padding: 10px;
        transform: translateX(8px);
    }

    .navbar-toggle {
        margin-top: 18px;
    }

    .navbar-default .navbar-brand {
        margin-top: 10px;
        margin-bottom: 10px;
    }


}

@media (max-width: 768px) {
     .navbar-left {
        margin-top: 0px;
    }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: transparent; 
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
     overflow-y:hidden
}

.navbar-right ~ .navbar-right {
    margin-right: 300px;
}

.navbar-left {
    margin-left: 40px;
}

.navbar-default .navbar-nav > li > a {
    color: #e7e7e7;
    font-family: myfont;
}

.navbar-default .navbar-nav > li > a:hover {
    color:red;
    font-family: myfont;
}

/*#endregion Navbar*/

/*#region Landing */

.landing {
    position: relative;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: repeat-x;
    margin: 0px;
    background: var(--background-color)
}

.ladingHalf {
    height: 50vh;
    background-size: contain;
    background-color: transparent;
    text-align:center;
    position: relative;
    padding: 20px;
    color: #e7e7e7;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.landingImg {
    height: 100%;
    width: 80%;
    border: none;
    background: transparent;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}


.landing .text {
    width: 50%;
    padding: 10px 30px 10px 30px;
    color: white;
    margin-top: -4px;
    text-align: justify;
    direction: rtl;
}

.landing .text h1{
    font-size: 45px;
    margin: 23px 223px -3px 0px;
    font-weight: bold;
    color: gold;
}

.landing .text h5{
    font-size: 21px;
    font-weight: bold;
    color: gold;
    margin-bottom: 26px;
}

@media (min-width: 768px) {
    .lead {
        font-size: 19px;
    }
}

@media (max-width:990px) {
    .landing .text {
        width: 100%;
    }

    .landing .text h1{
        font-size: 30px;
        margin: 0px 171px 0px 0px;
        font-weight: bold;
        color: gold;
    }

    .landing .text h5{
        font-size: 16px;
        font-weight: bold;
        color: gold;
        margin-bottom: 18px;
    }

    .lead {
        font-size: 15px;
    }
}

/*#endregion  Landing*/

/*#region _BillPartial*/


.Basket:hover {
    background-color: #008095;
    border-radius: 20px;
}

.Icon {
    margin: 5px;
    font-size: 15px;
}

    .Icon:hover {
        color: blue;
        cursor: pointer;
    }

    .Icon:active {
        color: red;
    }


/*#endregion _BillPartial*/

/*#region _ManageMdalPartial*/

.modal.left.fade .ManageModal {
    width: 262px
}

.ManageModalContent {
    background-image: linear-gradient(45deg, #099797b3, transparent);
}

.ManageModalHeader {
    padding: 10px;
    border-bottom: 1px solid #004040;
}

    .ManageModalHeader .modal-icon {
        font-size: 22px;
        float: left;
        margin: 0px 0px 0px 15px;
    }

    .ManageModalHeader .title {
        display: inline;
        float: left;
        margin: 6px 1px 0px 15px;
        font-weight: 600;
        font-size: 15px;
    }

ManageModalClose {
    font-size: 30px;
    color: red;
}

.modal.left .ManageModalBody {
    padding: 0px;
}

.ulMange {
    margin: 15px 1px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.ulMange a {
    width: 258px;
    margin: 0px 0px 1px 0px;
}

/*#endregion _ManageMdalPartial*/

/*#region Fotter*/

footer {
    width: 100%;
    position: absolute;
    background: var(--background-color);
    color: #fff;
    padding: 100px 0 30px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    direction: rtl
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .row .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .row .col:nth-child(2),
footer .row .col:nth-child(3) {
    flex-basis: 15%;
}

footer .row .col .logo {
    width: 80px;
    margin-bottom: 30px;
}

footer .row .col .footerTitle {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size:20px
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer .row .col ul{
    padding:0;
}

footer .row .col ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer .row .col ul li a {
    text-decoration: none;
    color: #fff;
}

footer .row .col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer .row .col form .fa-regular {
    font-size: 18px;
    margin-left: 10px;
}

footer .row .col form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer .row .col form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer .row .col form button .fa-solid {
    font-size: 16px;
    color: #ccc;
}

footer .row .col .social-icons .fab {
    width: 34px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}

footer .row .col .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
    margin-top: 10px;
}

footer .row .col .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        right: -20px;
    }

    100% {
        right: 100%;
    }
}

@media (max-width:700px) {
    footer {
        bottom: unset;
    }

    footer .row .col {
        flex-basis: 100%;
    }

    footer .row .col:nth-child(2),
    footer .row .col:nth-child(3) {
        flex-basis: 100%;
    }
}

/*#endregion*/

