@font-face{
    font-family:myfont;
    src:url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}

/* start variable  */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 /70%);
    --section-padding: 100px;
}

/* End variable  */


body {
    padding-top: 60px;
    font-family: myfont2;
    background-color: #fff;
}

   /*--- Start Header ---*/

.logoSize {
    font-size: 40px;
    color: #e7e7e7;
}
@media (max-width:767px) {
    .logoSize {
        margin-top: -10px;
    }
}
    /** Start Navbar **/

.navbar-default {
    background: linear-gradient(to left, #00093c, #2d0b00);
    border-color: #000;
    border-bottom-width: thin;
}

.navbar-right {
    float: right !important;
    margin-right: 20px;
}

    .navbar-right ~ .navbar-right {
        margin-right: 300px;
    }

.navbar-left {
    float: left !important;
    margin-left: 53px;
}




.navbar-default .navbar-nav > li > a {
    color: #e7e7e7;
    font-family: myfont;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #908ccb;
    font-family: myfont;
}

.nav > li {
    position: relative;
    display: block;
    height: 70px;
    padding-top: 10px;
    font-weight: bold;
}

.Basket {
    display: block;
    position: absolute;
    font-size: 23px;
    color: #e7e7e7;
    margin-top: 10px;
    padding: 10px;
    transform: translateX(8px);
}
    /* this style for icon of delete item and increase and decrease icon from bill*/
.Icon {
    margin: 5px;
    font-size: 15px;
}

.Icon:hover {
    color: blue;
}

.Icon:active {
    color: red;
}

.fa-x {
    color: black;
    font-size: 23px;
}

.fa-x:hover {
    color: darkred;
    font-size: 22.5px
}
/* end style for icon of delete ittem from bill*/
.Basket:hover {
    background-color: #008095;
    border-radius: 20px;
}

/*** End Navbar ***/

/*** Start _ManageMdalPartial ***/
.modal.left.fade .ManageModal {
    width: 262px
}

.ManageModalContent {
    background-image: linear-gradient(45deg, #099797b3, transparent);
}

.ManageModalHeader {
    padding: 10px;
    border-bottom: 1px solid #004040;
}

.ManageModalHeader .modal-icon {
    font-size: 22px;
    float: left;
    margin: 0px 0px 0px 15px;
}

.ManageModalHeader .title {
    display: inline;
    float: left;
    margin: 6px 1px 0px 15px;
    font-weight: 600;
    font-size: 15px;
}

ManageModalClose {
    font-size: 30px;
    color: red;
}

.modal.left .ManageModalBody {
    padding: 0px;
}

.ulMange {
    margin: 15px 1px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.ulMange a {
    width: 258px;
    margin: 0px 0px 1px 0px;
}


/*** End _ManageMdalPartial ***/


 /*** Start Landing ***/

.landing {
    height: 50vh;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: repeat-x;
    position: relative;
    background: linear-gradient(to left, #00093c, #2d0b00);
}
@media (max-width:990px) {
    .landing {
        margin-bottom:270px;
    }
}
.ladingHalf {
    height: 50vh;
    background-size: contain;
    background-color: transparent;
    text-align:center;
    position: relative;
    padding: 20px;
    color: #e7e7e7;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.landingImg {
    height: 100%;
    width:350px;
    margin-left: 70px;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (max-width:990px) {
    .landingImg {
        margin-right: 50px;
        width:600px;
        margin-right:0px;
    }
}
@-webkit-keyframes up-down {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-15px);
    }
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 10%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 30px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

        .landing .text .content {
            width: 100%;
        }
}

.landing .bullets .active {
    background-color: var(--main-color);
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 15px;
}

.landing .text .content p {
    font-size: 13px;
    line-height: 1.6;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.modalContent-Item {
    height: 545px;
    width: 650px;
    background-color: #FFF;
}


.landing .bullets {
    left: 50%;
    list-style: none;
    position: absolute;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

.landing .bullets .active {
    background-color: var(--main-color);
}
    /*** End Landing ***/

    /*--- End Header ---*/

/* start about  */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

@media (max-width:767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End about  */

/* start stats  */

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/christopher-burns-Kj2SaNHG-hg-unsplash.jpg');
    text-align: center;
    background-size: cover;
    position: relative;
}

.stats::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

        .stats .container .box {
            color: white;
            padding: 50px;
            background-color: var(--transparent-color);
            margin-bottom: 5px;
        }

@media (max-width:767px) { /* this term called mobile first thats mean you start design in mobile */
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width:768px) { /* here we want in asmall screen to bos in the comtainer for that we give the box 50% */
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width:991px) { /* here we want in medium and large  screen four  boxs in the screen we give the box 25% */
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    background-color: black;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    margin: 0 auto 20px
}

.stats .container .box .number {
    font-size: 45px;
    font-weight: bold;
    margin: 0 0 10px;
}

.stats .container .box p {
    font-size: 14px;
    text-transform: capitalize;
}
/* End stats  */

/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
@media (min-width:768px){
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px
    }
}
.services .srv-box {
    display: flex;

}
.services .srv-box i {
    margin-right: 50px;
    color: #464e18;

}
@media (max-width:767px) {
    .services .srv-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i {
        margin: 0 0 20px;
        
    }
}
.services .srv-box .text h3 {
    margin-bottom: 30px;
    color: var(--main-color);

}
.services .srv-box .text p {
    line-height: 2;
    color: #777;
}


/* End services */

/* start pricing  */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill  ,minmax(220px , 1fr));
    gap: 15px;
}
.pricing .plans .plan {
   background-color: #fcfcfc;
   text-align: center;
}
.pricing .plans .plan .head {
    padding: 35px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}
.pricing .plans .plan .head span{
    font-size: 50px;
    font-weight: bold;
}
.pricing .plans .plan .head span::before {
   content: "$";
   position: relative;
   font-size: 15px;
   top: -30px;
   left: -5px;
}
.pricing .plans .plan .head span::after {
   content: "/Mo";
   content: "/Mo";
   position: relative;
   bottom: 0;
   font-size: 10px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
    
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

}
.pricing .plans .plan .foot a {
    display: block;
    padding: 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 20px auto;
}
.pricing .contact-text {
    text-align: center;
    margin-top: 30px;
}
.pricing .contact-link {
    display: block;
    text-decoration: none;
    background-color: var(--main-color);
    width: fit-content;
    padding: 15px 25px;
    margin: 20px auto;
    color: white;
}
/* End pricing  */

/* start component  */
 .main-heading {
    text-align: center;

}
 .main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;

}
 .main-heading h2::after {
    content: "";
    left: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: -36px;
    transform: translateX(-50%);
    background-color: white;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 120px;
    background-color: black;
}
.main-heading p {
    width: 520px;
    margin: 0 auto 100px;
    line-height: 2;
    color: #777;
    max-width: 100%;
}

/* End component  */

    /*--- Start Main ----*/

    /*>>> Start Login Windwo <<<*/

.login-Div {
    padding: 15px;
    margin-top: 40px;
}

.main-Photo {
    padding: 15px;
    margin-top: 55px;
}


.main-Photo .login-image {
    width: 300px;
    margin-left: 40px;
}



    /*>>> End Login Windwo <<<*/

    /*>>> Start Register Windwo <<<*/

.Register-Div {
    padding: 15px;
    margin-top: 20px;
    width: 640px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

    /*>>> End Register Windwo <<<*/



    /*>>> Start Home Windwo <<<*/

.Restaurant {
    max-height: 420px;
    max-width: 305px;
    min-height: 346px;
    min-width: 260px;
    border-radius: 20px;
    border-color: teal;
    background-color: darkslategray;
    color: burlywood;
    text-align: center;
    font-family: myfont2;
    padding: 0px;
}

.Restaurant:hover {
    background-color: teal;
    transform: translateX(10px);
    transform: translateY(10px);
    border-radius: 10px;
}

/* this style for the Divs of Categories*/
.CategoryDivs {
    background-color: teal;
    border-radius: 50px 50px;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.AllCategories {
    background-image: radial-gradient(#ffe5c4, #ffb4b400);
    height: 120px;
    border-radius: 20px;
    padding: 20px 10px 0px 0px;
}

.AllCategories a {
    float: right
}

.CategoryName {
    background-color: #123636;
    color: burlywood;
    text-align: center;
    border-radius: 50px 20px;
}

.counter {
    background-color: green;
    width: fit-content;
    height: 34px;
    border-radius: 4px 4px;
    color: white;
    margin-right: 22px;
}

.counter input {
    width: 72px;
    height: 34px;
    border-radius: 7px 8px;
}

.counter .plusSign {
    padding: 0px;
    margin-top: 6px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px
}

.counter .ArrowSign {
    padding: 0px;
    margin: -2px;
}





    /* end style for the Divs of Categories*/

    /*>>> End Home Windwo <<<*/

    /*>>> Start Item Windwo <<<*/

.Item-modal-body {
    position: relative;
    padding: 15px;
    height: 365px;
}

.form-group .modal-Img {
    width: 245px;
    height: 233px;
    display: block;
    font-size: 30px;
    margin-left: 18px;
    margin-bottom: 10px;
    border-radius: 25px 6px;
    border: 1px solid teal;
    text-align: center;
}

.form-group .modal-Lbl {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 8px;
}

.form-group .modal-Btn {
    display: block;
    margin-left: 85px;
    width: 100px;
    background-color: teal;
}

.form-group .modal-filein {
    display: block;
    margin-left: 40px;
    visibility: hidden
}

.form-group .modal-BtnCreate {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}


.form-group .modal-BtnClose {
    width: 100px;
    margin: 0px 20px 0px 7px;
}

.input-fild {
    height: 30px;
    border-radius: 14px 6px;
    display: block;
    width: 220px;
    border: 1px solid teal;
    border-bottom: 1px solid #757575;
    text-align: center
}

.swal-IW { /* IW ---> Item windwo */
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid teal;
    position: inherit;
}

.swal-IW .swal-text{
font-size: 17px;
    color: black;
    text-align: center;
}

.swal-IW .swal-text:first-child{
    margin: 0px 0px 0px 0px;
}

/*>>> End Item Windwo <<<*/

/*>>> Start ٌRestaurant Windwo <<<*/

.Restaurant-modal-body {
    position: relative;
    padding: 15px;
    height: 365px;
}


/*>>> End ٌRestaurant Windwo <<<*/


.DivRest {
border-radius: 10px;
margin-top: 50px;
}

.ItemsDisplay {
background-color: #efefef59;
border-radius: 20px 20px;
margin: 60px 0px 30px 0px;
padding: 25px 0px 0px 0px;
}

.ItemDivs {
    float: right;
    border-radius: 25px 25px 26px 27px;
    margin: 0px 0px 12px 30px;
    background-image: linear-gradient(180deg, #f5f5f5 53%, #008080);
    width: 118px;
    height: 212px;
}

.ItemDivs img {
    height: 120px;
    width: 100px;
}

.ItemDivs h6 {
    color: black;
    font-weight: bold
}


.Item {
    max-height: 420px;
    max-width: 305px;
    min-height: 420px;
    min-width: 305px;
    border-radius: 20px;
    border-color: teal;
    background-color: #fbfbfb;
    color: black;
    text-align: center;
    font-family: myfont2;
    padding: 0px;
}

.requstBotton {
    color: white;
    width: 116px;
    padding: 5px;
    margin-left: 6px;
    background-color: #478f30;
    border-radius: 0px 0px 26px 27px;
    border: 1px solid #999;
    margin-top: 5px;
    margin: 2px 0px 0px -4px;
}

.addBotton {
    color: white;
    width: 116px;
    padding: 5px;
    margin-left: 6px;
    border-radius: 0px 0px 26px 27px;
    border: 1px solid #999;
    margin-top: 5px;
    margin: 2px 0px 0px -4px;
    background-color: #286090;
}

.requstBotton, .addBotton {
    font-size: 12px
}


.addBotton:active {
    background-color: blue;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.table th {
    text-align: center
}





/* end landing */
#LoginDive {
    margin-top: 30px;
}

.manPhoto {
    padding: 15px;
    margin-top: 55px;
}

.logimage {
    width: 300px;
    margin-left: 40px;
}

.logDiv {
    padding: 15px;
    margin-top: 40px;
}


.form-control {
    background-color: #f9fcfd;
    border: 1.5px solid teal;
    margin-left: 40px;
}

    /*--- End Main---*/



/*--- Start Fotter ---*/

footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(to left, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    direction:rtl
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .row .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .row .col:nth-child(2),
footer .row .col:nth-child(3) {
    flex-basis: 15%;
}

footer .row .col .logo {
    width: 80px;
    margin-bottom: 30px;
}

footer .row .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer .row .col ul{
    padding:0;
}

footer .row .col ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer .row .col ul li a {
    text-decoration: none;
    color: #fff;
}

footer .row .col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer .row .col form .fa-regular {
    font-size: 18px;
    margin-left: 10px;
}

footer .row .col form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer .row .col form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer .row .col form button .fa-solid {
    font-size: 16px;
    color: #ccc;
}

footer .row .col .social-icons .fab {
    width: 34px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright {
    text-align: center;
}

footer .row .col .underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
    margin-top: 10px;
}

footer .row .col .underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        right: -20px;
    }

    100% {
        right: 100%;
    }
}

@media (max-width:700px) {
    footer {
        bottom: unset;
    }

    footer .row .col {
        flex-basis: 100%;
    }

    footer .row .col:nth-child(2),
    footer .row .col:nth-child(3) {
        flex-basis: 100%;
    }
}


/*--- End Fotter ---*/
    
