@font-face{
    font-family:myfont;
    src:url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}


   /*----ROOT------*/

body {
    padding-top: 60px;
    font-family: myfont2;
    background-color: #fff;
}

   /*--- Start Header ---*/

.logoSize {
    width: 120px;
    height: 55px;
    margin-top:-12px;
}

   /** Start Navbar **/

.navbar-default {
    background-color: Teal;
    border-color: #000;
    border-bottom-width: thin;
}

.navbar-right {
    float: right !important;
    margin-right: 20px;
}
.navbar-right ~ .navbar-right {
    margin-right: 300px;
}

.navbar-left {
    float: left !important;
    margin-left: 53px;
}




.navbar-default .navbar-nav > li > a {
    color: #e7e7e7;
    font-family:myfont;
}
.navbar-default .navbar-nav > li > a:hover {
color: #908ccb;
font-family: myfont;
}
.nav > li {
    position: relative;
    display: block;
    height: 70px;
    padding-top: 10px;
    font-weight:bold;
}
.Basket {
    display: block;
    position: absolute;
    font-size: 23px;
    color: white;
    margin-top: 10px;
    padding: 10px;
    transform: translateX(8px);
}

   /*** End Navbar ***/



  /*** Start Landing ***/

.landing {
    height: 50vh;
   background-image: url('../Uploads/Categories/Chef-bro.png');
    background-size: contain;
    background-attachment: fixed;
    background-repeat:repeat-x;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 10%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 30px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
.landing .text {
    width: 100%;
}

.landing .text .content {
    width: 100%;
}

}
.landing .bullets .active {
    background-color: var(--main-color);
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 15px;
}

.landing .text .content p {
    font-size: 13px;
    line-height: 1.6;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.modalContent-Item {
    height: 545px;
    width: 650px;
    background-color: #FFF;
}


.landing .bullets {
    left: 50%;
    list-style: none;
    position: absolute;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

.landing .bullets .active {
    background-color: var(--main-color);
}
/*** End Landing ***/

/*--- End Header ---*/

/*--- Start Main ----*/

/*>>> Start Login Windwo <<<*/

.login-Div {
    padding: 15px;
    margin-top: 40px;
}

.main-Photo{
    padding:15px;
    margin-top:55px;
}


.main-Photo .login-image {
    width: 300px;
    margin-left:40px;
}



/*>>> End Login Windwo <<<*/

/*>>> Start Register Windwo <<<*/

.Register-Div {
    padding: 15px;
    margin-top: 20px;
    width: 640px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

/*>>> End Register Windwo <<<*/



/*>>> Start Home Windwo <<<*/

.Restaurant {
    max-height: 420px;
    max-width: 305px;
    min-height: 346px;
    min-width: 260px;
    border-radius: 20px;
    border-color: teal;
    background-color: darkslategray;
    color: burlywood;
    text-align: center;
    font-family: myfont2;
    padding: 0px;
}

.Restaurant:hover {
    background-color: teal;
    transform: translateX(10px);
    transform: translateY(10px);
    border-radius: 10px;
}

/* this style for the Divs of Categories*/
.CategoryDivs {
    background-color: teal;
    border-radius: 50px 10px;
    padding: 10px;
}

.CategoryName {
    background-color: #123636;
    color: burlywood;
    text-align: center;
    border-radius: 50px 20px;
}

.counter {
    background-color: green;
    width: fit-content;
    height: 34px;
    border-radius: 4px 4px;
    color: white;
    margin-right: 22px;
}
.counter input{
    width: 72px;
    height: 34px;
    border-radius: 7px 8px;
}

.counter .plusSign{
    padding: 0px;
    margin-top: 6px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px
}

.counter .ArrowSign{
padding: 0px;
    margin: -2px;
}





/* end style for the Divs of Categories*/

/*>>> End Home Windwo <<<*/

/*>>> Start Item Windwo <<<*/

.Item-modal-body {
    position: relative;
    padding: 15px;
    height: 365px;
}

.form-group .modal-Img {
    width: 245px;
    height: 233px;
    display: block;
    font-size: 30px;
    margin-left: 18px;
    margin-bottom: 10px;
    border-radius: 25px 6px;
    border: 1px solid teal;
    text-align: center;
}

.form-group .modal-Lbl {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 8px;
}

.form-group .modal-Btn {
    display: block;
    margin-bottom: 12px;
    margin-right: 75px;
    width: 100px;
    background-color: teal;
}

.form-group .modal-filein {
    display: block;
    margin-left: 40px;
    visibility: hidden
}

.form-group .modal-BtnCreate {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}


.form-group .modal-BtnClose {
    width: 100px;
    margin: 0px 20px 0px 7px;
}

.input-fild {
    height: 30px;
    border-radius: 14px 6px;
    display: block;
    width: 220px;
    border: 1px solid teal;
    border-bottom: 1px solid #757575;
    text-align: center
}

.swal-IW {     /* IW ---> Item windwo */
    width: 464px !important;
    height: 83px !important;
    border: 1px solid teal;
    position: inherit;
}

.swal-IW .swal-text{
    font-size: 17px;
    color: black;

}

.swal-IW .swal-text:first-child{
        margin-top: 30px;
}

/*>>> End Item Windwo <<<*/




.DivRest {
    border-radius: 10px;
    margin-top: 50px;
}


.ItemDivs {
    border-radius: 50px 50px;
    padding: 10px;
    background-color: #f9f9f9
}


.Item {
    max-height: 420px;
    max-width: 305px;
    min-height: 420px;
    min-width: 305px;
    border-radius: 20px;
    border-color: teal;
    background-color: #fbfbfb;
    color: black;
    text-align: center;
    font-family: myfont2;
    padding: 0px;
}

.requstBotton {
    color: white;
    width: 120px;
    padding:5px;
    margin-right:15px;
    background-color:green;
}

.addBotton {
    color: white;
    width: 120px;
    padding: 5px;
    margin-right: 15px;
    background-color: teal;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.table th{
    text-align:center
}





/* end landing */
#LoginDive{
margin-top:30px;
}

.manPhoto{
padding:15px;
margin-top:55px;
}

.logimage {
width: 300px;
margin-left:40px;
}

.logDiv{
padding:15px;
margin-top:40px;
}


.form-control {
    background-color: #f9fcfd;
    border: 1.5px solid teal;
    margin-left: 40px;
}

/*--- End Main---*/



/*--- Start Fotter style---*/

.myfooter {
    width: 100%;
}

.myfooter {
    background-color: Teal;
    padding-top: 10px;
    font-family: myfont;
    text-align: justify;
    margin-bottom: 0px;
}

.subfooter {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

.myfooter a {
    color: azure;
}

.myfooter p {
    color: azure;
}

.myfooter h3, ul, p {
    margin-bottom: 20px;
    font-family: myfont2;
    list-style-type: none;
}

.Psubfooter {
    padding: 5px;
    margin: 0;
}

/*--- end Fotter style---*/
/*Start bill style
.header {
    background-color: red;
    text-align: center;
    color: teal;
    font-weight: bold;
    text-decoration: underline black;
    padding: 10px;
    background-color: red;
}

.TableDiv {
    width: 400px;
    margin: auto;
    border: 2px solid burlywood;
    background: teal;
    height: auto;
    text-align: center;
    text-decoration: underline;
}*/
/*End bill style*/