@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a></li>
            <li><a href="#"  data-toggle="modal" data-target="#Modal-Manage">Manage</a> </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left" style="margin-right:300px">
        @*<li>@Html.ActionLink("", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li><a class="btnLogin-popup btn btn-default">Login</a></li>*@
    </ul>
}

