@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff" +
        "", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            <li>
                @Html.ActionLink(" مرحبا " + User.Identity.GetUserName() + " ! ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" ,style="direction:rtl" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">تسجيل الخروج</a></li>
            <li style="direction:rtl"><a href="#"  data-toggle="modal" data-target="#Modal-Manage"><i class="fa-solid fa-list-check" style="margin-left:10px"></i>إذارة</a> </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left" style="margin-right:300px">
        @*<li>@Html.ActionLink("", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li><a class="btnLogin-popup btn btn-default">Login</a></li>*@
    </ul>
}

