<div class="ManageModal modal fade" id="Modal-Manage">
    <div class="modal-dialog">
        <div class="modalContent-Item">
            <div class="modal-header">
                <h2 class="modal-title" style="text-align:center">إدارة</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="Manage-modal-body">
                <ul class="btnMange">
                    <li><a class="btn btn-info" href="/Restaurants/Index">المطاعم</a></li>
                    <li><a class="btn btn-info" href="/Categories/Index">الأصناف</a></li>
                    <li><a class="btn btn-info" href="/Items/Index">العناصر</a></li>
                    <li><a class="btn btn-info" href="/Roles/Index">إدارة المجموعات</a></li>
                    <li><a class="btn btn-info" href="#">تعديل الحساب</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>