@font-face{
    font-family:myfont;
    src:url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}

:root {
    --background-color: linear-gradient(to left, #00093c, #2d0b00);
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 /70%);
    --section-padding: 100px;
}

/*Table */
.TableRow {
    background-color: #01093a;
    color: white;
}

/*#region Global-properties*/

body {
    font-family: myfont2;
    background-color: #fff;
    padding-right: 0px !important
}

.Action-Icon {
    font-size: 20px;
}

.Action-Icon:hover {
    color: darkred;
    cursor: pointer;
}

.searshInput input {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 40px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.searshInput i {
    right: 10px;
    top: -45px;
    font-size: 20px;
    color: gray;
    position: relative;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.table th {
    text-align: center
}

.img-size {
    font-size: 90px;
}

.modal-open {
    overflow-y: auto;
}

/*#endregion Global-properties*/

/*#region Home */

/*#region Index */

/*#region About*/

.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

@media (max-width:767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/*#endregion About*/

/*#region Stats  */

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/christopher-burns-Kj2SaNHG-hg-unsplash.jpg');
    text-align: center;
    background-size: cover;
    position: relative;
}

    .stats::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    .stats .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

        .stats .container .box {
            color: white;
            padding: 50px;
            background-color: var(--transparent-color);
            margin-bottom: 5px;
        }

@media (max-width:767px) { /* this term called mobile first thats mean you start design in mobile */
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width:768px) { /* here we want in asmall screen to bos in the comtainer for that we give the box 50% */
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width:991px) { /* here we want in medium and large  screen four  boxs in the screen we give the box 25% */
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    background-color: black;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    margin: 0 auto 20px
}

.stats .container .box .number {
    font-size: 45px;
    font-weight: bold;
    margin: 0 0 10px;
}

.stats .container .box p {
    font-size: 14px;
    text-transform: capitalize;
}

/*#endregion stats*/

/*#region Services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 55px 80px;
    }
}

.services .srv-box {
    display: flex;
    direction:rtl;
}

.services .srv-box i {
    margin-left: 50px;
    color: #464e18;
}

@media (max-width:767px) {
    .services .srv-box {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

.services .srv-box i {
    margin: 0 0 20px;
}
}

.services .srv-box .text h3 {
    color: var(--main-color);
    margin: 1px 0 30px 0
}

.services .srv-box .text p {
    line-height: 2;
    color: #777;
}
/*#endregion Services/



/* End services */

/*#region Pricing  */

.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill  ,minmax(220px , 1fr));
    gap: 15px;
}
.pricing .plans .plan {
   background-color: #fcfcfc;
   text-align: center;
}
.pricing .plans .plan .head {
    padding: 35px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 15px;
}
.pricing .plans .plan .head span{
    font-size: 50px;
    font-weight: bold;
}
.pricing .plans .plan .head span::before {
   content: "$";
   position: relative;
   font-size: 15px;
   top: -30px;
   left: -5px;
}
.pricing .plans .plan .head span::after {
   content: "/Mo";
   content: "/Mo";
   position: relative;
   bottom: 0;
   font-size: 10px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
    
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

}
.pricing .plans .plan .foot a {
    display: block;
    padding: 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 20px auto;
}
.pricing .contact-text {
    text-align: center;
    margin-top: 30px;
}
.pricing .contact-link {
    display: block;
    text-decoration: none;
    background-color: var(--main-color);
    width: fit-content;
    padding: 15px 25px;
    margin: 20px auto;
    color: white;
}

/*#endregion Pricing*/

/*#region Component*/
.main-heading {
    text-align: center;

}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 60px;
    text-transform: uppercase;

}
 .main-heading h2::after {
    content: "";
    left: 50%;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid black;
    bottom: -36px;
    transform: translateX(-50%);
    background-color: white;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 120px;
    background-color: black;
}
.main-heading p {
    width: 520px;
    margin: 0 auto 100px;
    line-height: 2;
    color: #777;
    max-width: 100%;
}

/*#endregion Component*/

/*#endregion Index*/

/*#region GetRestaurants*/

.Restaurant {
    max-height: 420px;
    max-width: 305px;
    min-height: 346px;
    min-width: 260px;
    box-sizing:border-box;
    border:1px solid #d8d9db;
    border-radius: 4px;
    transition:all .3s;
    font-family: myfont2;
    text-align:end;
}
.Restaurant h4,h6{
    color:black;
}
.Restaurant:hover {
    background-color:  rgb(25 10 27 /70%);
    transform: translateY(10px);
    transform: translateX(-15px);
    border-radius: 6px;
    border:1px solid white;
    color:white;
}
.fa-star{
    color:orangered;
}
.fa-star-half {
    color: orangered;
}
.Find-next {
    border: 1px solid orangered;
    color: orangered;
    position: relative;
    top: 10px;
    border-radius: 8px;
    padding-right: 3px;
    padding-left: 3px;
}
.Find-next:hover{
    background:white;
    color:black;
    text-decoration:none;
}

.google-map{
    height: 500px; 
    width: 100%;
    display:none;
}

.btnShowMap{
    background-color: var(--transparent-color);
    padding: 7px;
    color: white;
    border: 1px solid;
    border-radius: 38px;
    margin: 2px;
    width: 126px;
    transition: all .3s;
}

.btnDismisMap {
    background-color: var(--transparent-color);
    padding: 7px;
    color: white;
    border: 1px solid;
    border-radius: 38px;
    margin: 2px;
    width: fit-content;
    transition: all .3s;
    display:none;
}

.btnShowMap:hover {
    transform: translateY(5px);
    text-decoration: none;
    color: antiquewhite;
    background-color: rgb(15 116 143 /50%)
}

.btnDismisMap:hover {
    transform: translateY(5px);
    text-decoration: none;
    color: antiquewhite;
    background-color: rgb(15 116 143 /50%)
}
/*#endregion*/

/*#region GetRestaurantCategories*/
.DivRest {
    border-radius: 10px;
    margin-top: 50px;
}

.ItemsDisplay {
background-color: #efefef59;
border-radius: 20px 20px;
margin: 60px 0px 30px 0px;
padding: 25px 0px 0px 0px;
}

.ItemDivs {
    float: right;
    border-radius: 25px 25px 26px 27px;
    margin: 0px 0px 12px 30px;
    background-color: #f5f5f5;
    width: 118px;
    height: 200px;
    text-align: right;
}

.ItemDivs img {
    height: 110px;
    width: 115px;
    border-radius: 10px;
}

.ItemDivs h6 {
    color: black;
    font-weight: bold
}

.CategoryDivs {
    background-color: lightsteelblue;
    border-radius: 50px 50px;
    padding: 10px;
    height: 100px;
    width: 118px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-left: 15px;
    bottom: 12px;
    box-shadow: 0 0 15px #888e8f;
}
.CategoryDivs h4{
    margin-top:20px;
}

.AllCategories {
    background-color: #eee;
    box-shadow: 0 0 30px #929699;
    border-radius: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    padding: 20px 10px 0px 0px;
    cursor: pointer;

}

.AllCategories a {
    float: right
}

.CategoryName {
    color:black;
    width:fit-content;
    text-align: center;
    border-radius: 20px 20px;
}

.CategoryName h4{
    width:max-content;
}

.counter {
    background-color: green;
    width: fit-content;
    height: 34px;
    border-radius: 4px 4px;
    color: white;
    margin-right: 22px;
}

.counter input {
    width: 72px;
    height: 34px;
    border-radius: 7px 8px;
}

.counter .plusSign {
    padding: 0px;
    margin-top: 6px;
    margin-right: 5px;
    text-align: center;
    font-size: 20px
}

.counter .ArrowSign {
    padding: 0px;
    margin: -2px;
}

.requstBotton {
    color: white;
    width: 116px;
    padding: 5px;
    margin-left: 6px;
    background-color: #2e6362;
    border-radius: 0px 0px 26px 27px;
    border: 1px solid #999;
    margin-top: 5px;
    margin: 2px 0px 0px -4px;
}

.addBotton {
    color: white;
    width: 116px;
    padding: 5px;
    margin-left: 6px;
    border-radius: 0px 0px 26px 27px;
    border: 1px solid #999;
    margin-top: 5px;
    margin: 2px 0px 0px -4px;
    background-color: #286090;
}

.requstBotton, .addBotton {
    font-size: 12px
}


.addBotton:active {
    background-color: blue;
}

.hello-section {
  background-color: #F5F5F5;
  padding: 40px;
  text-align: center;
}

.hello-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hello-section p {
  font-size: 18px;
  line-height: 1.5;
}
/*#endregion GetRestaurantCategories*/

/*#endregion Home*/

/*#region Item-Index*/

.Item .modalContent {
    height: 545px;
    width: 650px;
    background-color: #FFF;
}
.itemDisplayDiv {
    position: relative;
    left: -50%;
    transform: translateX(50%);
}

.Item .modal-body {
    position: relative;
    padding: 15px;
    height: 365px;
}

/*#endregion Item*/

/*#region modal Form */

.form-group .modal-Img {
    width: 245px;
    height: 233px;
    display: block;
    font-size: 30px;
    margin-left: 18px;
    margin-bottom: 10px;
    border-radius: 25px 6px;
    border: 1px solid teal;
    text-align: center;
}

.form-group .modal-Lbl {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 8px;
}

.form-group .modal-Btn {
    display: block;
    margin-left: 85px;
    width: 100px;
    background-color: teal;
}

.form-group .modal-filein {
    display: block;
    margin-left: 40px;
    visibility: hidden
}

.form-group .modal-BtnCreate {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}


.form-group .modal-BtnClose {
    width: 100px;
    margin: 0px 20px 0px 7px;
}

.input-fild {
    height: 30px;
    border-radius: 14px 6px;
    display: block;
    width: 220px;
    border: 1px solid teal;
    border-bottom: 1px solid #757575;
    text-align: center
}

/*#endregion modal Form*/

/*#region Sweet-Massage*/

.swal-IW { /* IW ---> Item windwo */
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid teal;
    position: inherit;
}

.swal-IW .swal-text{
font-size: 17px;
    color: black;
    text-align: center;
}

.swal-IW .swal-text:first-child{
    margin: 0px 0px 0px 0px;
    }

/*#endregion Sweet-Massage*/

/*#region Restaurant-Index*/

.Restaurants .modal-body {
    position: relative;
    padding: 15px;
    height: auto;
}

.Restaurants .modalContent {
    height: auto;
    width: auto;
    border-radius: 10px 10px;
    background-color: #FFF;
}

.RestaurantCheckbox ul {
    list-style: none;
    direction: rtl;
    float: right;
    margin-top: 8px;
}

.RestaurantCheckbox li input {
    margin-left: 10px;
    cursor: pointer;
}

@media (min-width: 990px) {

    .Restaurants .modal-dialog {
        width: 650px;
        margin: 18px auto;
    }
}

@media (max-width: 990px) {

    .Restaurants .modal-dialog {
        width: 500px;
        margin: 18px auto;
    }
    .Restaurants label{
        width:140px;
        text-align:right;
    }
    .Restaurants .form-group .modal-Img {
        margin-left: 110px;
    }
    .Restaurants .form-group .modal-Btn {
        margin-left: 190px;
    }

    .form-horizontal .form-group {
         margin-right: 0px; 
         margin-left: 0px; 
    }

}

@media (max-width: 590px) {

    .Restaurants .modal-dialog {
        width: 420px;
        margin: 18px auto;
    }
    .Restaurants .form-group .modal-Img {
        margin-left: 31px;
        width: 225px;
        height: 225px;
    }
    .Restaurants .form-group .modal-Btn {
        position: absolute;
        bottom: 135px;
        right: 25px;
    }
}




/*#endregion Restaurant-Index*/

/*#region Category-Index*/

.Category .modalContent {
    height: 500px;
    width: 439px;
    background-color: #FFF;
    margin: 126px 0px 0px 106px;
}

.Category .modal-header {
    height: 60px;
}

.Category .modal-body {
    height: 372px;
}

.Category .modalCenter {
    top: 30% !important;
    transform: translateY(-50%) !important;
}

.Category .form-group .modal-filein {
    display: block;
    margin-left: 40px;
    display:none
}

.Category .form-group .modal-Img {
    width: 200px;
    height: 200px;
    display: block;
    font-size: 30px;
    margin-left: 29%;
    margin-bottom: 10px;
    border-radius: 25px 6px;
    border: 1px solid teal;
    text-align: center;
}

.Category .modal-footer {
    height: 70px;
    padding: 15px 50px 15px 70px;
}

.Category .modal-title {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center
}

.Category .form-group .modal-Btn {
    display: block;
    margin-left: 40%;
    width: 100px;
    background-color: teal;
}

.Category .modal-BtnCreate {
    width: 100px;
    margin: 0px 20px 0px 20px;
    float: right;
}


.Category .modal-BtnClose {
    width: 100px;
    margin: 0px 20px 0px 20px;
}

/*#endregion Category-Index*/

/*#region Region-Index*/

.Region .form-horizontal {
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.Region .modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.Region .modal-BtnDelete {
    width: 100px;
}

/*#endregion Region-Index*/

/*#region Country-Index*/

.Country .modalContent {
    height: 240px;
    width: 400px;
    background-color: #FFF;
    margin: 126px 0px 0px 106px;
}

.Country .modal-header {
    height: 60px;
}

.Country .modal-body {
    height: 114px;
}

.Country .modal-footer {
    height: 66px;
    padding: 15px 50px 15px 70px;
}

.Country .modal-title {
    font-size: 20px;
    font-family: sans-serif;
    text-align:center
}

.Country .input-fild {

}

.Country .modal-BtnCreate {
    width: 100px;
    margin: 0px 20px 0px 20px;
    float: right;
}


.Country .modal-BtnClose {
    width: 100px;
    margin: 0px 20px 0px 20px;
}

/*#endregion Country-Index*/

/*#region Adv-Index*/
.Adv .modalCenter {
    top: 50% !important;
    transform: translateY(-79%) !important;
}

.Adv .modalContent {
    height: 540px;
    width: 570px;
    background-color: #FFF;
    margin: 126px 0px 0px 0px;
}

.Adv .modal-header {
    height: 60px;
}

.Adv .modal-body {
    height: 415px;
}

.Adv .modal-footer {
    height: 66px;
    padding: 10px 112px 10px 138px;
}

.Adv .modal-title {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center
}

.Adv .input-fild {
}

.Adv .form-group{
    margin:0px;
    padding:10px 10px 10px 0px;
}

.Adv .modal-BtnCreate {
    width: 100px;
    margin: 0px 20px 0px 20px;
    float: right;
}

.Adv .form-group .modal-Img {
    width: 400px;
    height: 178px;
    display: block;
    font-size: 30px;
    margin: 0px 11px 19px 129px;
    border-radius: 25px 6px;
    border: 1px solid teal;
    text-align: center;
}

.Adv .modal-BtnClose {
    width: 100px;
    margin: 0px 20px 0px 20px;
}

/*#endregion Adv-Index*/

/*#region GetRegion*/
.regionsSelect{
    margin-top:20px
}

.regionsSelect a .regionContiner {
    transition:background-color 0.5s ease-in-out;
    animation-duration:1s;
    /*animation-name:rotate;*/
}

@keyframes rotate{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}


.regionsSelect a:hover .regionContiner {
    background-color:#2d0b00;
    border-radius: 10px 30px;
    transform-origin:center center;
    animation-name:scale-up
}

@keyframes scale-up {
    from {transform: scale(1);}

    to {transform: scale(1.1);}
}

.regionsSelect a:hover .regionName,.regionDetails {
    color:white
}

.regionsSelect a:hover .regionDetails {
    color:white
}

.mainContiner h1 {
    direction: rtl;
    text-align: center;
    padding: 10px;
    font-family: myFont;
    color: var(--background-color);
}

.regionContiner {
    margin-left: 25px;
    margin-bottom: 30px;
    border-radius: 30px 10px;
    box-shadow: 0 0 30px rgb(0 0 255 / 20%);
}
    .regionContiner h6 {
        font-family: myfont;
        color: #00093c;
    }

.regionName {
    font-size: 20px;
    text-align: center;
    font-family: system-ui;
}

.regionDetails {
    font-size: 12px;
    text-align: center;
    color: black;
}

@media (max-width:990px){
    .mainContiner{
       /* margin-right:15px;*/
    }
}

.form-horizontal .EditProfile {
    margin-left: 0;
    margin-right: 15px;
}
.EditProfile {
    display: grid;
    justify-content: center;
}
.EditProfile  .input-fild {
    display:inline;
}
.EditProfile .control-label {
    width:150px;
}
.DrowsRegain {
    background-color: var(--transparent-color);
    padding: 7px;
    color: white;
    border: 1px solid;
    border-radius: 38px;
    margin: 2px;
    width:126px;
    transition:all .3s;
}
.DrowsRegain:hover {
    transform: translateY(5px);
    text-decoration: none;
    color: antiquewhite;
    background-color: rgb(15 116 143 /50%)
}

.ExceptableRequest {
    padding: 5px 8px;
    background-color: #333;
    color: white;
    border: 2px solid #333;
    border-radius: 4px;
}
.ExceptableRequest.active {
    background-color: #a94442;
    border: 2px solid #a94442;
}


/*#endregion GetRegion*/