<div>
    <h2>قائمة الأصناف</h2>
</div>
<div>
    <p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Modal-categoryCreate">أضافة صنف</a>
    </p>
</div>
<table class="table" id="categoryTable">
    <tr class="btn-primary">

        <th>
            أسم الصنف
        </th>
        <th>
            الصورة
        </th>
        <th>
            الأجراء
        </th>
    </tr>

    @foreach (var item in ViewBag.categories)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <img src="~/Uploads/Categories/@item.ImgUrl" class="img-thumbnail" style="width:48px;height:48px" />
            </td>
            <td>
                <a style="font-size:20px" onclick="EditCategoryConfirm(@item.Id)"><i class="fa-solid fa-pen-to-square Action-Icon" style="color: #005eff;"></i></a> |
                <a style="font-size:20px" onclick="DeleteCategoryConfirm(@item.Id)"><i class="fa-solid fa-trash-can Action-Icon" style="color: #ff2600;"></i></a>
                <input type="hidden" id="CategoryId" />
            </td>
        </tr>
    }
</table>
